.product-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    width: clamp(200px, 13vw, 600px);
    box-shadow:0.5rem 0.5rem 1rem 0.1rem black;
    transition: ease-out;
    cursor: pointer;
}

.product-card img {
    align-self: center;
    width: 100px;
    object-fit: cover;
}

.product-card:hover {
    scale: 1.009;
}