*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  width: 100dvw;
  height: 100dvh;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10% 0 10%;
}

.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  background-color: rgba(169, 169, 169, 0.37);
  border-radius: 2rem;
  padding: 2rem 2rem 3rem 2rem;
}

.search-container{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0.4rem 2rem;
}

.turner{
  display: flex;
  gap: 0.5rem;
  margin-right: 2rem;
}

.turner button{
  padding: 0.2rem;
}
